$smoke: #b7b7b7;

// Base SVG styles
.animation-image {
  max-width: 300px;
  margin: 20px 0;
}

// Smoke Animations
.smoke { fill: $smoke !important; }

.smoke-pt1 {
  .smoke {
    animation: smokeOutUp 2s ease infinite;
  }
}

.smoke-animation {
  .smoke-tall {
    .cloud-small { animation: smallCloudOutUp 5s linear infinite; }
    .cloud-large { animation: largeCloudOutUp 5s linear infinite; }
  }
  .smoke-short {
    .cloud-small { animation: smallCloudOutUp 3s linear infinite; }
    .cloud-large { animation: largeCloudOutUp 3s linear infinite; }
  }
}

// Smoke Step: 1
@keyframes smokeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}

// Smoke Step: 2
@keyframes smallCloudOutUp {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0;
    transform: translateY(-14px);
  }
}

@keyframes largeCloudOutUp {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translateY(-5px);
  }
  100% {
    opacity: 0;
    transform: translateY(-24px);
  }
}

// Boat animation
.boat-animation {
  .boat {
    transform: translateY(4px);
    animation: rockBoat 4s ease-in-out infinite;
  }
}

@keyframes rockBoat {
  0%   {
    transform: rotate(0) translateY(8px);
  }
  50%  {
    transform: rotate(-1deg) translateY(3px)
  }
  100% {
    transform: rotate(0) translateY(8px);
  }
}


// Wave animation
.wave-animation {
  .waves {
    animation: 4s rollWaves linear infinite;
  }
}

@keyframes rollWaves {
  0%   {
    transform: translateX(0);
  }
  100%  {
    transform: translateX(-80px)
  }
}
